* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width:980px;
  margin: 0 auto;
}
header {
  width : 100%;
  height: 100px;
  border: 0px solid orangered;
  background-color: rgb(255, 115, 0);
}
header p {
  float: left;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color: rgb(48, 159, 193);
  font-weight: 600;
}
header div {
  line-height: 60px;
}
header img {
  max-height: 100px;
  float: left;
  display:flex;

align-items:center;

justify-content:center;
}
nav{
  height: 35px;
  width: 100%;
  background-color: rgb(128, 0, 255);
  margin-bottom: 5px
}
nav .menu ul {
  list-style: none;
}
nav .menu ul li{
  float: left;
  line-height: 35px;
  padding: 0 15px;
}
nav .menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;

}
nav .menu ul li a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}
nav .search {
  line-height: 35px;
  float: right;
  margin-right: 25px;
}
.slide {
  align-items:center;
  display: flex;
  flex-direction:  column ;

}
.slide img{
      width: 980px;
      height: 100%;
      background-image: url(./img/anhbackground.jpg);
      opacity: 0.9;  
      filter: alpha(opacity=50);
}
.slide a {
  padding: 8px 16px;
  border: 2px solid #000;
  text-decoration: none;
  font-weight: 600;
  color: orangered;
  display : inline-block; 
  margin-top : 10px;
  border-radius: 999px ;
  text-align: center;
  justify-content:center;
}